<ion-view view-title="Abdulloh Domla">
  <ion-content>
	<div class="list">
    <ion-list ng-repeat="item in musics" ng-if="item.id==musicId">
      <ion-audio-track ng-repeat="track in item.items" track="track">
        <div class="card">
           <div class="item item-thumbnail-left">
             <img src="img/logo.png">
             <h2>{{track.name.replace('.mp3','')|removeUnderscores}}</h2>
             <ion-audio-controls>
               <a class="button button-icon icon" ion-audio-play></a>
               <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
             </ion-audio-controls>
           </div>
           <div class="item item-divider">
             <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
           </div>
         </div>
       </ion-audio-track>
     </div>
   </ion-content>
</ion-view>
